<form class="fm_login">
    <div class="lable_login">
        <p>Đăng nhập</p>
    </div>
    <div class="input_login">
        <label class="labels">Tên đăng nhập: </label> 
        <input type="text" name="username" placeholder="Tên đăng nhập" class="username">
        <label class="labels">Mật khẩu : </label> 
        <input type="password" name="password" placeholder="Password" class="password">
        <label class="err">Mật khẩu hoặc tài khoản không đúng</label>
    </div>
    <div class="button_send">
        <input type="submit" value="Đăng Nhập" class="default_btn" />
    </div>
</form>
