h3{
    font-size: 30px;
    height: auto;
    border-radius: 0%;
    border: none;
   border: 1px solid red;
background: ;
margin-top: ;
display: inline-block;
overflow: hidden;
position: absolute;
text-align: center;

}
background: #F0F8FF;
width: 700px;
height: 500px;
margin: auto;