<div *ngIf="exittable" class="tableadd">
    <div class="outtable">
        <div class="table">
            <div class="headertable">
                <h1>Thêm hệ thống <button (click)="outtable();">X</button></h1>
            </div>
            <table class="bodytable">
                <tr>
                    <th >Mã Hệ thống:</th>
                    <td width="60%"><input type="text"  value="" [(ngModel)]="maHT"   placeholder="Vui lòng nhập Tên tài khoản" (ngModelChange)="mahtc=checkerror(maHT,mahtc);buttonc=checkbutton(buttonc);" (focusout)="checkusername(maHT,idHT);"></td>
                    <td width="10%" class="errortable">    
                        <fa-icon *ngIf="mahtc==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="mahtc==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th>Tên HT:</th>
                    <td><input type="text" value="" [(ngModel)]="username"  placeholder="Vui lòng nhập tên đăng nhập" (ngModelChange)="usernamec=checkerror(username,usernamec);buttonc=checkbutton(buttonc);" ></td>
                    <td class="errortable">    
                        <fa-icon *ngIf="usernamec==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="usernamec==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2" class="submittable">
                        <input *ngIf="idHT==''" [disabled]="buttonc"  type="submit" value="Đăng Ký" (click)="dangky();">
                        <input *ngIf="idHT!=''"  type="submit" value="Cập nhật" (click)="capnhat();">
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
