<div *ngIf="exittable" class="tableadd">
    <div class="outtable">
        <div class="table">
            <div class="headertable">
                <h1>Thêm tài khoản mới  <button (click)="outtable();">X</button></h1>
            </div>

            <table class="bodytable">
                <tr>
                    <th >Tên tài khoản:</th>
                    <td width="60%"><input type="text"  value="" [(ngModel)]="name"   placeholder="Vui lòng nhập Tên tài khoản" (ngModelChange)="namec=checkerror(name,namec);buttonc=checkbutton(buttonc);"></td>
                    <td width="10%" class="errortable" >    
                        <fa-icon *ngIf="namec==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="namec==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th>Tên đăng nhập:</th>
                    <td><input type="text" value="" [(ngModel)]="username"  placeholder="Vui lòng nhập tên đăng nhập" (ngModelChange)="usernamec=checkerror(username,usernamec);buttonc=checkbutton(buttonc);" (focusout)="checkusername(username);"></td>
                    <td class="errortable">    
                        <fa-icon *ngIf="usernamec==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="usernamec==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
               
                <tr>
                    <th>Vai Trò:</th>
                    <td >
                       
                        <select  (ngModelChange)="vaitroc=checkcombox(vaitro,vaitroc);buttonc=checkbutton(buttonc);"  [(ngModel)]="vaitro"   >
                            <option class="dropdown-item" disabled selected value="undefined">Vui lòng chọn vai trò</option>
                            <option *ngFor="let Vaitro of Vaitro"  [ngValue]="Vaitro" >{{Vaitro.tenVT}}</option>
                          </select>  
            
                    </td>
                    <td class="errortable">    
                        <fa-icon *ngIf="vaitroc==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="vaitroc==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr>
                    <th>Hệ Thống:</th>
                    <td >
                 
                            <select [(ngModel)]="hethong"  (ngModelChange)="hethongc=checkcombox(hethong,hethongc);buttonc=checkbutton(buttonc);" >
                                <option class="dropdown-item" disabled selected value="undefined">Vui lòng chọn hệ thống</option>
                                <option  *ngFor="let HeThong of HeThong" [ngValue]="HeThong" >{{HeThong.tenHT}}</option>
                            </select>
                       
                    </td>
                    <td class="errortable">    
                        <fa-icon *ngIf="hethongc==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="hethongc==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
          
                <tr *ngIf="iduser==0">
                    <th>Mật khẩu:</th>
                    <td><input type="password"  value="" [(ngModel)]="password"  placeholder="Vui lòng nhập mật khẩu " (ngModelChange)="passwordc=checkerror(password,passwordc);buttonc=checkbutton(buttonc);"></td>
                    <td class="errortable">    
                        <fa-icon *ngIf="passwordc==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="passwordc==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr *ngIf="iduser==0">
                    <th>Nhập Lại Mật Khẩu:</th>
                    <td><input type="password" [(ngModel)]="passwordagain" value="" placeholder="Vui lòng nhập lại mật khẩu" (ngModelChange)="passwordagainc=checkpassagain(passwordagain,passwordagainc,password);
                        buttonc=checkbutton(buttonc);"></td>
                    <td class="errortable">    
                        <fa-icon *ngIf="passwordagainc==2" [icon]="faTimesCircle"></fa-icon>
                        <fa-icon *ngIf="passwordagainc==1" class="checkok" [icon]="faCheck"></fa-icon>
                    </td>
                </tr>
                <tr *ngIf="iduser!=0">
                    <th>Nhập Lại Mật Khẩu:</th>
                    <td colspan="2" class="submittable">
                        <input *ngIf="iduser!=0"  type="submit" value="Reset mật khẩu" (click)="resetpass();">
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2" class="submittable">
                        <input *ngIf="iduser==0" [disabled]="buttonc"  type="submit" value="Đăng Ký" (click)="dangky();">
                        <input *ngIf="iduser!=0"  type="submit" value="Cập nhật" (click)="capnhat();">
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
